{% extends "base.html" %}
{% load static %}


{% block content %}
<v-container class="mt-12">

{# Alert shows if the response from the API isn't 2XX #}
<v-alert
    prominent
    type="error"
    v-if="!!fetchError"
>
  [[ fetchError ]]
</v-alert>

<v-row>

  {# Left column, the search and data table #}
  <v-col cols="12" lg="6" xl="8">
    <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
    ></v-text-field>
    <v-data-table
        :items="tableData"
        :headers="headers"
        :search="search"
        :page.sync="dmsListPage"
        :items-per-page.sync="dmsListPerPage"
        :sort-by.sync="dmsListSortBy"
        :sort-desc.sync="dmsListSortDesc"
        :server-items-length="dmsListItemsLength"
        :loading="dmsListLoading"
        @update:items-per-page="getDMs()"
        @update:page="getDMs()"
        @update:sort-by="getDMs()"
        @update:sort-desc="getDMs()"
    >

      {# Had to do entire item slot due to bug with camel case attributes not allowing item.updatedAt slot #}
      <template v-slot:item="{ item }">
        <tr>
          <td>
            [[ item.usernames.join(", ") ]]
          </td>
          <td>
            [[ $luxon.DateTime.fromISO(item._updatedAt).toLocaleString($luxon.DateTime.DATETIME_SHORT) ]]
          </td>
          <td>
            [[ item.msgs ]]
          </td>
          <td>
            <v-btn @click="openDM(item)">Messages</v-btn>
          </td>
        </tr>
      </template>

    </v-data-table>
  </v-col>

  {# Right column, messages #}
  <v-col cols="12" lg="6" xl="4">

    <v-card>
      <v-card-title class="text-h5" v-if="!!usernames.length">DMs with [[ usernames.join(" & ") ]]</v-card-title>
      <v-card-title class="text-h5" v-else>Select a DM from the table to the left to audit</v-card-title>
      <v-card-text>
        <v-list dense>

          <v-list-item v-for="message in messages">
            <v-list-item-avatar rounded>
              <v-img :src="`${rootInstance}/avatar/${message.u.username}`"></v-img>
            </v-list-item-avatar>

            <v-list-item-content>

              <v-list-item-title>
                <strong>[[ message.u.username ]]</strong>
                <v-tooltip top>
                  <template v-slot:activator="{ on, attrs }">
                    <span v-on="on" v-bind="attrs">
                      [[ $luxon.DateTime.fromISO(message.ts).toLocaleString($luxon.DateTime.TIME_SIMPLE) ]]
                    </span>
                  </template>
                  <span>[[ $luxon.DateTime.fromISO(message.ts).toLocaleString($luxon.DateTime.DATETIME_SHORT) ]]</span>
                </v-tooltip>
              </v-list-item-title>

              {# Block quote for message replies #}
              <blockquote
                  class="blockquote grey lighten-3 rounded-lg text-body-2"
                  v-if="!!message.attachments?.filter(i => !!i.text)"
                  v-for="attachment in message.attachments?.filter(i => !!i.text)"
              >
                <p>
                  <v-avatar rounded size="35" class="mr-2">
                    <img :src="rootInstance + attachment.author_icon">
                  </v-avatar>
                  <strong>[[ attachment.author_name ]]</strong>
                  <v-tooltip top>
                    <template v-slot:activator="{ on, attrs }">
                      <small v-on="on" v-bind="attrs">
                        [[ $luxon.DateTime.fromISO(attachment.ts).toLocaleString($luxon.DateTime.TIME_SIMPLE) ]]
                      </small>
                    </template>
                    <span>[[ $luxon.DateTime.fromISO(attachment.ts).toLocaleString($luxon.DateTime.DATETIME_SHORT) ]]</span>
                  </v-tooltip>
                </p>
                <span v-html="$marked(attachment.text, {breaks: true})"></span>
              </blockquote>

              {# Message text, formatted with markdown #}
              <div v-if="!!message.msg">
                <span class="text-body-2" v-html="$marked(message.msg, {breaks: true})"></span>
              </div>

              {# Attachments, including photos and videos #}
              <div v-if="!!message.attachments">
                <img
                    v-for="attachment in message.attachments.filter(i => !!i.image_size)"
                    :src="`${rootInstance}${attachment.image_url}`"
                />
                <video
                    controls
                    width="600"
                    v-for="attachment in message.attachments.filter(i => !!i.video_size)"
                >
                  <source :src="`${rootInstance}${attachment.video_url}`" :type="attachment.video_type">
                </video>
              </div>

            </v-list-item-content>

          </v-list-item>

        </v-list>
      </v-card-text>
      <v-card-actions v-if="!!usernames.length">
        <v-pagination
            v-model="dmsPage"
            :length="dmsPageCount"
            @input="getMessages($event)"
        ></v-pagination>
      </v-card-actions>
    </v-card>
  </v-col>

</v-row>
</v-container>
{% endblock %}


{% block data %}
{
  tableData: [],
  headers: [
    {text: 'Participants', value: 'usernames'},
    {text: 'Updated', value: '_updatedAt', filterable: false},
    {text: 'Messages', value: 'msgs', filterable: false},
    {text: 'Actions', value: 'actions', sortable: false, filterable: false},
  ],
  messages: [],
  usernames: [],
  search: '',
  autoFetch: null,
  fetchError: null,
  dmsListPage: 1,
  dmsListPerPage: 10,
  dmsListItemsLength: null,
  dmsListSortBy: '_updatedAt',
  dmsListSortDesc: true,
  dmsListLoading: false,
  dmsPage: 1,
  dmsPageCount: null,
  activeDM: null,
  rootInstance: Cookies.get('root_instance'),
  apiHeaders: {
    "X-Auth-Token": Cookies.get('auth_token'),
    "X-User-Id": Cookies.get('user_id'),
  },
}
{% endblock %}


{% block methods %}
{
  openDM(obj) {
    {# Set DM list object for future use in fetching messages #}
    this.activeDM = obj
    this.usernames = obj.usernames
    this.getMessages(1)
  },
  getMessages(page) {
    {# Fetch messages by page #}
    let params = new URLSearchParams()
    params.set('count', 10)
    params.set('offset', 10 * (page - 1))
    params.set('roomId', this.activeDM._id)

    this.$http.get(
      `${this.rootInstance}/api/v1/im.messages.others?${params.toString()}`,
      {headers: this.apiHeaders}
    )
      .then(r => r.json())
      .then(r => {
        this.dmsPageCount = Math.ceil(r.total / 10)
        this.messages = r.messages.reverse()
      })
      .catch(err => console.log(err))
  },
  getDMs() {
    {# Construct params for request, including auth headers, sort, and pagination #}
    this.dmsListLoading = true
    let params = new URLSearchParams()
    if (this.dmsListPerPage > 0) {
      params.set('count', this.dmsListPerPage)
      params.set('offset', this.dmsListPerPage * (this.dmsListPage - 1))
    }
    params.set('query', '{"msgs": {"$gt": 0}}')
    if (!!this.dmsListSortBy) {
      params.set("sort", `{"${this.dmsListSortBy}": ${this.dmsListSortDesc ? '-1' : '1'}}`)
    }

    this.$http.get(
      `${this.rootInstance}/api/v1/im.list.everyone?${params.toString()}`,
      {headers: this.apiHeaders}
    )
      .then(r => r.json())
      .then(r => {
        this.tableData = r.ims
        this.dmsListItemsLength = r.total
      })
      .catch(err => {
        console.log(err)
      })
      .finally(() => this.dmsListLoading = false)
  },
}
{% endblock %}


{% block mounted %}
{
  this.getDMs(),
  this.autoFetch = setInterval(
    this.getDMs, 30 * 1000
  )
}
{% endblock %}