{% extends "base.html" %}


{% block title %}Settings | {% endblock %}


{% block content %}
<v-container>

  <v-card max-width="600" class="mx-auto my-6">
    <v-card-title class="text-h5">Auth Settings</v-card-title>
    <v-card-text class="text-body-1">
      <v-text-field
          outlined
          label="Rocket.chat Instance URL"
          v-model="rootInstance"
          hint="The URL, including https, no trailing slash - e.g. https://yaoi.chat"
      ></v-text-field>
      <v-text-field
          outlined
          label="Rocket.chat user ID"
          v-model="userID"
          hint="Must be from an admin account"
      ></v-text-field>
      <v-text-field
          outlined
          label="Rocket.chat auth token"
          v-model="authToken"
          hint="Must be from an admin account"
      ></v-text-field>
      <p>
        <strong>Note:</strong> If you don't have these already, go to account > personal access tokens to create one.
      </p>
      <p>
        All data is stored only in cookies and not anywhere on the server, so be sure to save your user ID and token somewhere in case your cookies get cleared.
      </p>
      <p>
        For this app to actually work, you must have the Direct Message History endpoint enabled.<br />
        Workspace > Settings > General > REST API > Enable Direct Message History Endpoint
      </p>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="success" @click="save">Save</v-btn>
    </v-card-actions>
  </v-card>

</v-container>
{% endblock %}


{% block data %}
{
  rootInstance: Cookies.get("root_instance"),
  userID: Cookies.get("user_id"),
  authToken: Cookies.get("auth_token"),
}
{% endblock %}


{% block methods %}
{
  save() {
    Cookies.set("root_instance", this.rootInstance)
    Cookies.set("user_id", this.userID)
    Cookies.set("auth_token", this.authToken)
    window.location = "/"
  }
}
{% endblock %}