{% load static %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>{% block title %}{% endblock title %}Rocket Audit</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2/dist/vuetify.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block additional_css %}{% endblock %}
  {% block meta %}{% endblock %}
</head>
<body>
  <v-app id="app" v-cloak>

    {% include "navbar.html" %}

    <v-main>
      {% block content %}{% endblock %}
    </v-main>

  </v-app>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2/dist/vuetify.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1/dist/vue-resource.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.3/build/global/luxon.min.js "></script>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  {% block additional_vue_scripts %}{% endblock %}

  <script>
    {% block vue_use %}{% endblock %}
    Vue.use({
      install() {
        Vue.marked = marked.marked
        Vue.prototype.$marked = marked.marked
        Vue.luxon = luxon
        Vue.prototype.$luxon = luxon
      }
    })
    const app = new Vue({
      delimiters: ['[[', ']]'],
      el: '#app',
      vuetify: new Vuetify(),
      data: {% block data %}{}{% endblock %},
      methods: {% block methods %}{}{% endblock %},
      mounted() {% block mounted %}{}{% endblock %}
    });
  </script>
  {% block additional_scripts %}{% endblock %}
</body>
</html>