<v-app-bar
    dark app
>
  <v-toolbar-title class="text-h4">
    <a href="{% url "home" %}" class="text-decoration-none" style="color: #f5455c">
      <v-icon color="#f5455c" large>mdi-rocket-launch-outline</v-icon>
      rocket.audit
    </a>
  </v-toolbar-title>
  <v-spacer></v-spacer>
  <v-btn icon href="{% url "settings" %}">
    <v-icon>mdi-cog</v-icon>
  </v-btn>
</v-app-bar>